<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.bcm.messenger.adhoc">

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />


    <application>

        <activity android:name=".ui.channel.AdHocConversationActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".ui.channel.AdHocPreviewActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"/>

        <activity android:name=".ui.channel.AdHocJoinChannelActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible"/>

        <activity android:name=".ui.channel.AdHocInviteJoinActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.channel.AdHocChannelSettingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"/>

        <activity android:name=".ui.setting.AdHocDevSettingActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.setting.AdHocLogActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.setting.AdHocSettingActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.AdHocSessionSelectionActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>


        <activity android:name=".ui.channel.AdHocChannelMemberListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>


        <service
            android:name="com.bcm.imcore.im.MessengerService"
            android:exported="false"
            android:enabled="true">
            <meta-data android:name="longScanForcingEnabled" android:value="true"/>
        </service>
    </application>

</manifest>
