<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.bcm.messenger">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" tools:node="remove" />


    <application
        android:name="com.bcm.messenger.AmeApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:testOnly="false"
        android:theme="@style/BcmActivityTheme.Basic"
        android:usesCleartextTraffic="true"
        android:supportsRtl="false"
        tools:replace="android:allowBackup,android:theme,android:supportsRtl">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBa1zfTA0Tr1ILy7BBWxU_5TmWB9Q42BGE"/>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="GooglePlay" >
        </meta-data>

        <meta-data
            android:name="channels"
            android:value="${channels_name}"/>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/icon_notification_alpha" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/common_color_black" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/common_notification_default_id" />

        <activity
            android:name="com.bcm.messenger.ui.HomeActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>

        <activity
            android:name="com.bcm.messenger.ui.LaunchActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Launch">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="bcmobile" android:host="www.bcm-im.com"/>
                <data android:scheme="bcm" android:host="scheme.bcm-im.com"/>
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>

            <meta-data
                android:name="com.sec.minimode.icon.portrait.normal"
                android:resource="@mipmap/ic_launcher"/>
            <meta-data
                android:name="com.sec.minimode.icon.landscape.normal"
                android:resource="@mipmap/ic_launcher"/>
        </activity>

        <activity
            android:name="com.bcm.messenger.share.SystemShareActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.bcm.messenger.ui.DevSettingsActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:label="@string/title_activity_dev_settings"/>

        <activity android:name="com.bcm.messenger.ui.PixelActivity"
            android:launchMode="singleTop"/>

        <activity android:name=".ui.TablessIntroActivity"
            android:screenOrientation="portrait" />

        <service android:name="com.bcm.messenger.google.FcmMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <meta-data android:name="firebase_analytics_collection_deactivated" android:value="true" />
        <meta-data android:name="google_analytics_adid_collection_enabled" android:value="false" />
        <meta-data android:name="firebase_messaging_auto_init_enabled" android:value="false" />

    </application>

</manifest>