<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bcm.messenger.appsflyer">

    <application>

        <meta-data android:name="AF_PRE_INSTALL_NAME" android:value="${af_media_source}"/>

        <receiver android:name="com.appsflyer.MultipleInstallBroadcastReceiver" android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
